@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npm-logo {
  width: 60px;
}

.search-button {
  background-color: #fb3e44;
}

body {
  display:flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-size: 15px;
  text-align: center;
}
.section-box {
  justify-content: center;
  align-items: center;
}

.triangle-heaxagon {
  width: 200px;
}

.service-box {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.service-box-img {
  width:40px
}

h3 {
  color: red;
}